body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.logo {
    max-height: 100px;
}

.EmployerTiles {
    display: inline-block;
    max-width: 45%;
    min-width: 45%;
    text-align: center;
    /*border: solid;*/
    margin-bottom: 2px;
    margin-top: 2px;
    padding-bottom: 2px;
    background-color: ghostwhite;
}


.detaillogo {
    display: block;
    text-align: center;
    max-height: 200px;
    min-width: 100%;
    border:solid;
}

.detailimg {
    max-height: 200px;
    object-fit: contain;
}
