body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    /*border:solid;*/
    
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.logo {
    max-height: 100px;
}

.EmployerTiles {
    display: inline-block;
    max-width: 45%;
    min-width: 45%;
    text-align: center;
    /*border: solid;*/
    margin-bottom: 2px;
    margin-top: 2px;
    padding-bottom: 2px;
    background-color: ghostwhite;
}


.detaillogo {
    display: block;
    text-align: center;
    max-height: 200px;
    min-width: 100%;
    /*border:solid;*/
}

.detailimg {
    max-height: 200px;
    object-fit: contain;
}


.detaillabel {
 display:inline-block;
    font-weight:bold;
    min-width:200px;
    /*border:solid;*/
}

.detailnugget {

    
}


.comparison { 

}

.table-comp {

    table-layout:fixed;
    width:100%;
}

.comptable {
    text-align:left;
}

td {

}

.px50 {
    width: 50px;
}

.px75 {
    width: 75px;
}


.px100 {
    width: 100px;
}
.px150 {
    width: 150px;
}
.px200 {
    width: 200px;
}
.px250 {
    width: 250px;
}

.px300 {
    width: 300px;
}

.px900 {
    width:900px;
}